<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kemorebi.forum.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kemorebi.forum.model.entity.Article">
        <id column="aid" property="aid" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="description" property="description" />
        <result column="cover_img" property="coverImg" />
        <result column="published" property="published" />
        <result column="commentabled" property="commentabled" />
        <result column="page_view" property="pageView" />
        <result column="like_count" property="likeCount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        aid, title, content, a.description, cover_img, published, commentabled, page_view, like_count, create_time, update_time, status
    </sql>

    <!-- index查询结果列 -->
    <sql id="Index_Column_List">
        a.aid as aid, title, a.description as description, cover_img as coverImg, page_view, like_count, create_time, update_time, a.status, t.name as type, u.nickname as author, u.avator as uavator
    </sql>
    <!-- index查询结果列 -->
    <sql id="Article_By_Aid">
        a.aid as aid, title, content, a.description as description, cover_img as coverImg, published, commentabled, page_view, like_count, create_time, update_time, a.status, t.name as type, u.nickname as author, u.avator as uavator
    </sql>
    <update id="addlikeCount">
        update forum_article set like_count=like_count+1
            where aid=#{aid}
    </update>
    <update id="addPageView">
        update forum_article set page_view=page_view+1
        where aid=#{aid}
    </update>
    <select id="getIndexArticleSimList" resultType="com.kemorebi.forum.model.dto.ArticleSimDTO">
        select
            <include refid="Index_Column_List"/>
        from forum_article as a
        inner join forum_article_type as at
        inner join forum_type as t
        inner join forum_article_user as au
        inner join forum_user as u
        where a.status=true and u.uid=au.uid and at.aid= a.aid and at.type_id=t.type_id and au.aid=a.aid
        group by a.aid
        <choose>
            <when test="status">
                order by page_view desc
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>
    </select>
    <select id="getQueryArticleSimList" resultType="com.kemorebi.forum.model.dto.ArticleSimDTO">
        select
        <include refid="Index_Column_List"/>
        from forum_article as a
        inner join forum_article_type as at
        inner join forum_type as t
        inner join forum_article_user as au
        inner join forum_user as u
        where a.status=true and u.uid=au.uid and at.aid= a.aid and at.type_id=t.type_id and au.aid=a.aid
        and ( 1=0
        <choose>
            <when test="dto.query!=null">
                or a.title like "%"#{dto.query}"%"
            </when>
            <when test="dto.type!=null">
                or t.name like "%"#{dto.type}"%"
            </when>
            <when test="dto.query!=null">
                or u.nickname like "%"#{dto.query}"%"
            </when>
        </choose>
        )
        group by a.aid
        <choose>
            <when test="status">
                order by page_view desc
            </when>
            <otherwise>
                order by create_time desc
            </otherwise>
        </choose>
    </select>
    <select id="getArticleByAid" resultType="com.kemorebi.forum.model.dto.ArticleDTO">
        select
            <include refid="Article_By_Aid"/>
        from forum_article as a
            inner join forum_article_type as at
            inner join forum_type as t
            inner join forum_article_user as au
            inner join forum_user as u
        where u.uid=au.uid and at.aid= a.aid and at.type_id=t.type_id and au.aid=a.aid
            and a.aid=#{aid}
            <if test="published!=null">
                and a.published=#{published}
            </if>
            <if test="status!=null">
                and a.status=#{status}
            </if>
        group by a.aid
    </select>
    <select id="getArticlePage" resultType="com.kemorebi.forum.model.dto.ArticleSimDTO">
        select
        <include refid="Index_Column_List"/>
        from forum_article as a
        inner join forum_article_type as at
        inner join forum_type as t
        inner join forum_article_user as au
        inner join forum_user as u
        where u.uid=au.uid and at.aid= a.aid and at.type_id=t.type_id and au.aid=a.aid
        <if test="status!=null">
            and a.status=#{status}
        </if>
        group by a.aid
    </select>
    <select id="getArticleIdByUid" resultType="com.kemorebi.forum.model.dto.ArticleSimDTO">
        select
        <include refid="Index_Column_List"/>
        from forum_article as a
        inner join forum_article_type as at
        inner join forum_type as t
        inner join forum_article_user as au
        inner join forum_user as u
        where a.aid=au.aid and u.uid=au.uid and at.aid= a.aid and at.type_id=t.type_id and au.aid=a.aid
        and au.uid=#{uid}
        group by a.aid
        order by create_time
        desc
    </select>

</mapper>
