<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kemorebi.forum.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kemorebi.forum.model.entity.Comment">
        <id column="com_id" property="comId" />
        <result column="uid" property="uid" />
        <result column="aid" property="aid" />
        <result column="content" property="content" />
        <result column="parent_comment_id" property="parentCommentId" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        com_id, uid, aid, content, parent_comment_id, create_time, status
    </sql>
    <sql id="ArticleCommont_By_Aid">
        com_id, u.uid, nickname, avator as uavator, content, parent_comment_id, create_time, status
    </sql>
    <sql id="ArticleCommont_By_Status">
        com_id, uid, aid, content, create_time, status
    </sql>
    <sql id="ArticleCommont_By_uid">
        com_id, c.uid, c.aid, content, create_time, status
    </sql>
    <select id="getCommentByAid" resultType="com.kemorebi.forum.model.dto.CommentDTO">
        select
            <include refid="ArticleCommont_By_Aid"/>
        from forum_comment as c
            inner join forum_user as u on c.uid=u.uid
        where c.aid=#{aid}
            <if test="status!=null">
                and status=#{status}
            </if>
    </select>

    <select id="countCommentForDelete" resultType="java.lang.Integer">
        select count(*)
        from forum_comment as c
            inner join forum_article_user as au  on c.aid=au.aid
        where c.com_id = #{comId}
        and (c.uid=#{uid} or au.uid=#{uid})
    </select>

    <select id="getCommendByPcommentIds" resultType="java.lang.Long">
        select com_id
        from forum_comment
        where parent_comment_id in
        <foreach collection="comIds" item="comId" separator="," open="(" close=")">
            #{comId}
        </foreach>

    </select>
    <select id="getCommentPage" resultType="com.kemorebi.forum.model.dto.CommentSimDTO">
        select
            <include refid="ArticleCommont_By_Status"/>
        from forum_comment as c
        where 1=1
        <if test="status!=null">
            and status=#{status}
        </if>
    </select>
    <select id="getArticleComment" resultType="com.kemorebi.forum.model.dto.CommentSimDTO">
        select
            <include refid="ArticleCommont_By_uid"/>
        from forum_comment as c
            inner join forum_article_user as au on c.aid=au.aid
        where c.status=true
        and au.uid=#{uid}
    </select>

    <select id="getUserComment" resultType="com.kemorebi.forum.model.dto.CommentSimDTO">
        select
            <include refid="ArticleCommont_By_Status"/>
        from forum_comment
        where uid=#{uid}
        <if test="status!=null">
            and status=#{status}
        </if>
    </select>

</mapper>
