<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kemorebi.forum.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kemorebi.forum.model.entity.User">
        <id column="uid" property="uid" />
        <result column="nickname" property="nickname" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="avator" property="avator" />
        <result column="description" property="description" />
        <result column="admin" property="admin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, nickname, account, password, age, gender, email, mobile, avator, description, admin
    </sql>
    <sql id="Base_Query_list">
        uid, nickname, account, gender, avator, description
    </sql>
    <select id="queryUser" resultType="com.kemorebi.forum.model.dto.UserSimDTO">
        select
            <include refid="Base_Query_list"></include>
        from forum_user
        where nickname like "%"#{query}"%"
        or account like "%"#{query}"%"
    </select>


</mapper>
